{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Details about student{% endblock title %}


{% block nav_student %}{% endblock nav_student %}


{% block url_student %}{% url 'students:list_view' %}{{ id_c }}{% endblock url_student %}
   
   
{% block content %}
<nav>
  <ul class=" color pager">
    <li><a href="{% url 'students:list_view' %}">Previous</a></li>
  </ul>
</nav>
<div class="center">
	<h1>{{name_student}} {{name_student.surname}}</h1>
</div>

<table class="width table-color" border="1">
	<tr> 
		<td class="bold">дата рождения</a></td>
		<td>{{ name_student.date_of_birth|date:"N d, Y" }}</td>
	</tr>
	<tr> 
		<td class="bold">адрес</a></td>
		<td>{{ name_student.address }}</td>
	</tr>
	<tr> 
		<td class="bold">почта</a></td>
		<td>{{ name_student.email }}</td>
	</tr>
	<tr> 
		<td class="bold">логин Skype</a></td>
		<td>{{ name_student.skype }}</td>
	</tr>
	<tr> 
		<td class="bold">телефон</a></td>
		<td>{{ name_student.phone }}</td>
	</tr>
{% for course in name_student.courses.all %}
	<tr> 
		<td class="bold">курсы</a></td>
		<td><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></td>
	</tr>
{% endfor %}
</table>    
{% endblock content %}

