{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="AlexI">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
     <link href="{%static 'css/bootstrap.css' %}" rel="stylesheet">
	 <link href="{%static 'css/style.css' %}" rel="stylesheet">
     <script src="{%static 'js/bootstrap.js' %}"></script>
    <title>Student detail</title>
  </head>

  <body>
        <div class="black">
      <ul class="nav nav-tabs">
      <li role="presentation" ><a href="{% url 'index'%}">Main</a></li>
      <li role="presentation" ><a href="{% url 'contact'%}">Contacts</a></li>
	  <li role="presentation"><a href="{% url 'students:list_view'%}">Students</a></li>
      </ul>
	 <h1 class="dl"> {{ student.surname }} {{ student.name }}</h1>
    </br>
         <p><b>Дата рождения:</b> {{ student.date_of_birth }}</p>
         <p><b>Адрес:</b> {{ student.address }}</p>
         <p><b>Почта:</b> {{ student.email }}</p>
         <p><b>Логин skype:</b> {{ student.skype }}</p>
         <p><b>Телефон:</b> {{ student.phone }}</p>
         <p><b>Курсы:</b>
             <ul>
             {% for course in student.courses.all %}
              <li>   <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></li>
            {% endfor %}
            </ul>
         </p>


		
		<p class="alert">Здесь нужен bootstrap</p>
	<p class="alert-dismissable">Еще немного bootstrap</p>
	<p class="alert-dismissible">Еще немного bootstrap</p>
	<p class="alert-success">Еще немного bootstrap</p>
	<p class="alert-info">Еще немного bootstrap</p>
	<p class="alert-warning">Еще немного bootstrap</p>
	<p class="alert-danger">Еще немного bootstrap</p>
	<p class="progress">Еще немного bootstrap</p>
	<p class="jumbotron">Еще немного bootstrap</p>
	<p class="breadcrumb">Еще немного bootstrap</p>
	<p class="end">THE END</p>



    </div>
  </body>

