{% extends "base.html" %}

{% block title %}
    <title>Students</title>
{% endblock %}

{% block top_menu %}
    <ul class="nav navbar-nav">
        <li ><a href="{% url 'courses:index' %}">Main</a></li>
        <li ><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'students:list_view' %}">Students</a></li>
    </ul>
    {% include "include/search_include.html" %}
{% endblock %}

{% block content %}
            <div class="jumbotron ">
                <h3><span class="glyphicon glyphicon-list padsingtitle" aria-hidden="true" ></span>List of students</h3>

                <!-- Table -->

                <table class="table opct-img">
                                <tr class="dark">
                                    <th>#</th>
                                    <th>Name Surname</th>
                                    <th>Address</th>
                                    <th>Skype</th>
                                    <th>Courses</th>
                                </tr>
                                {% for student in students_list %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td><a href="{% url 'students:student_detail' student_id=student.id %}">{{ student.name }} {{ student.surname  }}</a></td>
                                    <td>{{ student.address }}</td>
                                    <td>{{ student.skype }}</td>
                                    <td>
                                        <table>
                                            {% for course in student.courses.all  %}
                                                <tr><td><a href="{% url 'courses:course_detail' course_id=course.id %}">{{ course.name }}</a></td></tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                {%  endfor %}
                </table>
            </div>
{% endblock %}
