{% extends "base.html" %}

{% block title %}
    <title>Students list</title>
{% endblock %}

{% block top_menu %}
    <ul class="nav navbar-nav">
        <li ><a href="{% url 'index' %}">Main</a></li>
        <li ><a href="{% url 'contact' %}">Contacts</a></li>
        <li><a href="{% url 'feedback' %}">Feedback</a></li>
        <li class="active"><a href="{% url 'students:list_view' %}">Students</a></li>
    </ul>
    {% include "include/search_include.html" %}
{% endblock %}

{% block content %}
            <div class="jumbotron ">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="list-group-item list-group-item-success" style="color: #EFEFEF;background-color: #3E8789;opacity: 0.5;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p>
                    <a class=" btn btn-primary btn-lg " href="{% url 'students:add' %}" role="button">
                        <span class="glyphicon glyphicon-plus padsingtitle" aria-hidden="true" ></span>Добавить нового студента
                    </a>
                </p>

                <h3><span class="glyphicon glyphicon-list padsingtitle" aria-hidden="true" ></span>List of students</h3>

                <!-- Table -->

                <table class="table opct-img">
                                <tr class="dark">
                                    <th>#</th>
                                    <th>Name Surname</th>
                                    <th>Address</th>
                                    <th>Skype</th>
                                    <th>Courses</th>
                                    <th></th>
                                </tr>
                                {% for student in students_list %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td><a href="{% url 'students:student_detail' pk=student.id %}">{{ student.name }} {{ student.surname  }}</a></td>
                                    <td>{{ student.address }}</td>
                                    <td>{{ student.skype }}</td>
                                    <td>
                                        <table>
                                            {% for course in student.courses.all  %}
                                                <tr>
                                                    <td><a href="{% url 'courses:course_detail' pk=course.id %}">{{ course.name }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    <td>

                                            <a class=" btn btn-primary btn textgray_light" href="{% url 'students:edit' pk=student.id %}" role="button">
                                            <span class="glyphicon glyphicon-pencil padsingtitle textgray_light" aria-hidden="true" ></span>
                                            Изменить
                                            </a>
                                            <a class=" btn btn-primary btn textgray_light" href="{% url 'students:remove' pk=student.id %}" role="button">
                                                <span class="glyphicon glyphicon-remove padsingtitle textgray_light" aria-hidden="true" ></span>
                                                Удалить
                                            </a>

                                    </td>
                                </tr>
                                {%  endfor %}
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><< previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next >></a>
                        {% endif %}
                    </span>
                </div>
            </div>
{% endblock %}
