{% extends "base.html" %}

{% block title %}
    <title>Students remove</title>
{% endblock %}

{% block top_menu %}
    <ul class="nav navbar-nav">
        <li ><a href="{% url 'index' %}">Main</a></li>
        <li ><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'students:list_view' %}">Students</a></li>
    </ul>
    {% include "include/search_include.html" %}
{% endblock %}

{% block content %}
            <div class="jumbotron ">
                <h3><span class="glyphicon glyphicon-trash padsingtitle" aria-hidden="true" ></span>Student {{ student.name }} will be remove.</h3>
                <h3>{{ title }}</h3>
                    <form method="post" style="" class="add_form">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ student.id }}">
                        <p><input class=" btn btn-primary btn-lg " type="submit" value="Submit"></p>
                    </form>
            </div>
{% endblock %}
