{% extends "base.html" %}
{% block title %}Add new student{% endblock title %}
{% block nav_students %}class="active"{% endblock %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
            <h2>Add new student</h2>
            <form method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Add" />
            </form>
            </div>
        </div>
    </header>
{% endblock content %}
