{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Список студентов{% endblock title %}


{%block nav_class_index %}passive{% endblock %}
{%block nav_class_contact %}passive{% endblock %}
{%block nav_class_student_list_view %}active{% endblock %}


{% block content %}
    <div class="container-fluid">
      <div class="page-header">
        <h3>{% block page-header %}{% endblock %}</h3>
      </div>
        {% block page_content %}

        {% endblock page_content %}
    </div>
{% endblock content %}
