{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ student.name }} {{ student.surname }}{% endblock %}

{% block banner %}{% endblock %}

{% block menu %}
    <nav role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="{% url 'index' %}" class="brand-logo waves-effect waves-light">
                    <div class="hide-on-med-and-down">
                        <img src="{% static 'img/logo_itbursa.png' %}"
                             width="30" id="appicon">
                        <span style="font-size: 22px;font-weight:300;">ITBursa</span>
                    </div>
                    <div class="hide-on-large-only">
                        <span style="font-size: 22px;font-weight:300;">ITBursa</span>
                    </div>
                </a>

                <ul id="slide-out" class="side-nav">
                    <li>
                        <a href="{% url 'index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Контакты</a>
                    </li>
                    {% block change_link_mobi %}
                    <li  class="active">
                        <a href="{% url 'students:list_view' %}">Студенты</a>
                    </li>
                    {% endblock %}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Контакты</a>
                    </li>
                    {% block change_link %}
                    <li  class="active">
                        <a href="{% url 'students:list_view' %}">Студенты</a>
                    </li>
                    {% endblock %}
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="col s12">
        <h5 class="text-primarycolor">{{ student.name }} {{ student.surname }}</h5>

    </div>
    <div class="col s12 l12">

        <div class="card-panel">
            <span class="card-title grey-text"></span>

            <div class="row">
                <div class="col s12">
                    <table class="responsive-table highlight">
                        <tbody>
                            <tr>
                                <td>
                                    Дата рождения
                                </td>
                                <td>
                                    {{ student.date_of_birth }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Адрес
                                </td>
                                <td>
                                    {{ student.address }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Почта
                                </td>
                                <td>
                                    {{ student.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Логин/Skype
                                </td>
                                <td>
                                    {{ student.skype }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Телефон
                                </td>
                                <td>
                                    {{ student.phone }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Курсы
                                </td>
                                <td>
                                    <ul>
                                        {% for course in student.courses.all %}
                                        <li><a href="{% url 'courses:detail' course.id %}"> {{ course }} </a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}