<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{student.name}} {{student.surname}}</title>
    {% load staticfiles %}
    <script src="{% static 'js/bootstrap.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
            </button>
            <a class="navbar-brand" href="#">ITBursa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href={% url 'index' %}>Главная</a></li>
                    <li><a href={% url 'contact' %}>Контакты</a></li>
                    <li class="active"><a href={% url 'students:list_view' %}>Студенты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase">
        <div class="jumbotron">
        <h2> {{ student.surname }} {{ student.name }}</h2>
        </div>
        <table class="table">
        <tr>
            <th>Дата рождения</th>
            <th>Адрес</th>
            <th>Почта</th>
            <th>Логин Skype</th>
            <th>Телефон</th>
            <th>Курсы</th>
        </tr>
        <tr>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.skype }}</td>
            <td>{{ student.phone }}</td>
            <td>
            {% for course in student.courses.all %}
                <a class="table" href={% url 'courses:detail' course.id %}>{{ course }}</a>
            {% endfor %}
            </td>
        </tr>
    </table>

    <footer class="footer">
        <p>&copy; ITBursa 2015</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={% static 'js/bootstrap.js' %}></script>

</body>
</html>