{% extends "base.html" %}

{% block title %}Students{% endblock title %}

{% block nav_students %}class="active"{% endblock %}

{% block content %}

    <h2> Student's list: </h2>
    <br>
        {% if messages %}
            <ul>
            {% for message in messages %}
                  <button type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 {{ message }}
             {% endfor %}
            </ul>
        </div>        
        {% endif %} 
      <br>  
      <a href="{% url 'students:add' %}">
      <button type="button">
          <span aria-hidden="true"></span> Add student </button>    
      </a>  
        <table >
            <thead>
              <tr>
                <td><strong>ID</strong></td>
                <td><strong>Full name</strong></td>
                <td><strong>Address</strong></td>
                <td><strong>Skype</strong></td>
                <td><strong>Assigned courses</strong></td>  
              </tr>
            </thead>
            <tbody>
             {% if students_list %} 
              {% for student in students_list %}
              <tr>
                <td>{{ student.id }} </td>
                <td><a href="{% url 'students:detail' student.id %}">{{ student.full_name }}</a></td>
                <td>{{ student.address }}</td>
                <td>{{ student.skype }}</td>
                <td>
                   {% for course in student.courses.all %}
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
                   {% endfor %}
                </td>               
              </tr>
              {% endfor %}
              {% endif %}  
            </tbody>
           </table>
{% endblock content %}
