{% extends "base.html" %}


{% load static from staticfiles %}


{% block title %}Students list{% endblock %}


{% block active_students %}active{% endblock %}


{% block main %}

<div class="container">
  <h2>Students list</h2>
  </br>
  </br>
    <table class="table">
      <thead>
        <tr>
          <th>Name\Surname</th>
          <th>Address</th>
          <th>Skype</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
      {% for student in students %}
      <tr>
      <td>{{ student.id }}</td>
        <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}<a></td>
        <td>{{ student.address }}</td>
        <td>{{ student.skype }}</td>
        <td>{% for course in student.courses.all %}
        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
            {% endfor %}
        </td>
        </tr>
          {% empty %}
        <h3>No students</h3>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock main %}