{% extends 'base.html' %} 

{% load staticfiles %} 


{% block title %}Student list{% endblock title %}


{% block nav_class_index %}active{% endblock nav_class_index %}


{% block content %}


    <div class="jumbotron">
      <div class="container" role="main">
        <div class="table-responsive">
          <div class="jumbotron">
            <h1 class="center">Students list</h1>
          </div>
          <table class="table">
            <caption>students</caption>
            <tr>
              <th>N</th>
              <th>name surname</th>
              <th>address</th>
              <th>skype</th>
              <th>courses</th>
              <th>edit</th>
              <th>remove</th>
            </tr>
            {% for student in students %}
            <tr>
              <td> {{ student.id }} </td>
              <td><a href="{% url 'students:detail' student.id %}">{{ student.name }} {{ student.surname }}</a></td>
              <td> {{ student.address }} </td>
              <td> {{ student.skype }} </td>
              <td>

              {% for course in student.courses.all %}
              <a
              href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>
              
              {% endfor %}

              </td>
              <td>
                <p><a 
                class="btn btn-primary btn-sm"
                href="{% url 'students:edit' %}"
                role="button">Изменить</a></p>
              </td>
              <td>
                <p><a class="btn btn-primary btn-sm"
                href="{% url 'students:remove' %}"
                role="button">Удалить</a></p>


              </td>

            </tr>
            {% endfor %}
          </table>
          <p><a class="btn btn-primary btn-lg" href="{% url 'students:add' %}" role="button">Добавить нового студента</a></p>
        </div>
      </div>
    </div>


{% endblock content %}
