{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Student List{% endblock title %}


{% block active_students %}active{% endblock active_students %}


{% block content %}

  <div class="learn-more">
	  <div class="container">
	    <div class="row">


        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    	  <h1>PyBursa Students</h1>
    	</div>
    	  <h4>This is a list of students who are studying on this course</h4>
<p><a class="btn btn-primary btn-lg" href="{% url 'students:add' %}" role="button"><span class="glyphicon glyphicon-plus"></span>Add New Student</a></p>
    </div>
  </div>

 {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

  


  <div class="container theme-showcase" role="main">
    <div class="container">
      <p>{{ course.description }}</p>
        <h1 class="course">Students List</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% for i in students %} {% endfor %}
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name and Surname</th>
                    <th>Address</th>
                    <th>Skype</th>
                    <th>Courses</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in students %}
                  <tr>
                    <td>{{ i.id }}</td>
                    <td><a href="{% url 'students:detail' i.id %}">{{ i.name }} {{ i.surname }}</a></td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.skype }}</td>
                    <td>{% for k in i.courses.all %}<a href="{% url 'courses:detail' k.id %}">{{ k.name }}</a><br>{% endfor %}</td>
                    <td><a class="btn btn-primary btn-block" href="{% url 'students:edit' i.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span>Change</a>
                    <a class="btn btn-primary btn-block" href="{% url 'students:remove' i.id %}" role="button"><span class="glyphicon glyphicon-remove"></span>Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>

  {% include "include/include.html" %}

{% endblock content %}
