{% extends "base.html" %}
{% block title %}Delete student{% endblock title %}
{% block nav_students %}class="active"{% endblock %}
{% block content %}
    <header>
        <div class="header-content">
             <div class="header-content-inner">
<h2>Delete student</h2>
<form method="post">
    {% csrf_token %}
    <h2>Please confirm that the student {{ sd }} will be removed </h2>
    <br>
    <input type="submit" value="Delete" />
</form>
            </div>
        </div>
    </header>
{% endblock content %}
