{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block nav_students %}active{% endblock nav_students %}


{% block content %}
    <div class="container">
      <div class="starter-template">
        <div class="container">
        <h1 class="descr">Студент {{ student.name }} {{ student.surname }} будет удален</h1>
          <form method="post">
            {% csrf_token %}
            <input type="submit" value="Да" class="btn btn-primary"/>
        </form>
      </div>
    </div><!-- /.container -->
{% endblock content %}
