{% extends 'base.html' %}
{% block title %}Students{% endblock %}
{% block active_menu_students %}active{% endblock %}
{% block content %}

    <div class="jumbotron">
        <h1>Students list</h1>
    </div>
    {% include 'include/message_include.html' %}
    <a href="{% url 'students:add' %}">Создать нового студента</a>
    <table class="table">
        <caption>Студенты курса</caption>
        <tr>
            <th>#</th>
            <th>Name Surname</th>
            <th>Address</th>
            <th>Skype</th>
            <th>Courses</th>
            <th>Control</th>
        </tr>
            {% for student in object_list %}
            <tr>
                <td> {{ student.id }} </td>
                <td><a href="{% url 'students:detail' student.id %}">{{ student.fullname }}</a></td>
                <td> {{ student.address }} </td>
                <td> {{ student.skype }} </td>
                <td>
                    {% for course in student.courses.all %}
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'students:edit' student.id %}">Изменить</a>
                    <a href="{% url 'students:remove' student.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
    </table>

    <nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true"><< previous</span>
                </a>
            </li>
        {% endif %}

        {% for i in paginator.page_range %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li>
                <a aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                    <span  aria-hidden="true">next >></span>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>
{% endblock %}
