{% extends 'base.html' %}
{% block title %}Students {{ course.name }}{% endblock %}
{% block nav_active_students %}active{% endblock nav_active_students %}
{% block content %}

  {% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <ul class="messages">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </ul>
    </div>        
  {% endif %} 
  <a href="{% url 'students:add' %}">
    <button type="button">
    <span class="glyphicon glyphicon-plus"></span> Add student </button>    
  </a>  
  <div class="jumbotron container">
    <h2>Students {{ course.name }}</h2>
    <table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Surnme Name</th>
					<th>Address</th>
					<th>Skype</th>
					<th>Courses</th>
				</tr>
			</thead>
			<tbody>
			{% for student in object_list %}
			<tr>
				<td>{{ student.id }} </td>
				<td><a href={% url 'students:detail' student.id %}>{{ student.surname }} {{ student.name }}</a></td>
				<td>{{ student.address }}</td>
				<td>{{ student.skype }}</td>
				<td>
				{% for course in student.courses.all %}
					<a href={% url 'courses:detail' course.id %}>{{ course.name }} </a>
				{% endfor %}
				</td>
        <td>
          <a href="{% url 'students:edit' student.id %}">
            <button type="button"><span class="glyphicon glyphicon-pencil"></span> Edit </button>    
          </a>  
          <a href="{% url 'students:remove' student.id %}">
            <button type="button"><span class="glyphicon glyphicon-remove-sign"></span> Delete </button>    
          </a>  
        </td> 
      </tr>
			{% endfor %}
      </tbody>
		</table>
  </div>
{% endblock %}