{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Edit Student{% endblock title %}


{% block nav_active_students %}active{% endblock %}


{% block content %}
  <div class="container">
        <div class="jumbotron transparant-background">
  <div class="page-header text-align-center">
          <h1>{{ title }}</h1>
          </div>
  <p>Student {{ student.name }} {{ student.surname }} will be deleted. Are you sure?</p>

  <form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="remove student">
  </form>
</div>
</div>
{% endblock content %}
