{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock %}


{% block navbar_i3 %}active{% endblock %}


{% block content %}
    <h1>Student details</h1>
    <h2>{{ student.name }} {{ student.surname }}</h2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>birth day</td>
            <td>{{ student.date_of_birth }}</td>
        </tr>
        <tr>
            <td>address</td>
            <td>{{ student.address }}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{ student.email }}</td>
        </tr>
        <tr>
            <td>skype</td>
            <td>{{ student.skype }}</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>{{ student.phone }}</td>
        </tr>
        <thead>

        <tbody>
        <tr>
            <td>courses</td>
            <td>
                {% for course in student.courses.all %}
                    <a class="table" href="{% url 'courses:detail' course.id %}"> {{ course }}</a><br>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
{% endblock %}