{% extends 'base.html' %} 

{% load staticfiles %} 


{% block title %}{{ title }}{% endblock title %} 


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block content %}
    <div class="col-lg-12">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2>Студент {{ student.name }} {{ student.surname }} будет удален</h2>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Remove" />
        </form>

       
    </div>
{% endblock content %}
