{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block nav_class_student %}active{% endblock nav_class_student %}


{% block content %}
{% if messages %}
<div class="container" id="sto">
<div class="alert alert-success" role="alert">
	{% csrf_token %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
</div>
{% endif %}
	<div class="container" id="sto">
        <h1><strong>{{ title }}</strong></h1></br>
        <form method="post">
        	{% csrf_token %}
		  {{ form.as_p }}		
		  <input type="submit" value="Сохранить" />
		</form>
    </div>
{% endblock content %}
