{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock title %}
{% block active_students %}active{% endblock active_students %}
{% block content %}
<div class="container">
{% if messages %}
    {% for message in messages %}
    <div class="jumbotron">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" />
        </form>
</div>
{% endblock content %}
