                <div class="blok1">
                   <h4><b>Director:</b></h4>
                   <h6><b>Name:</b> Oleksii Butenko</h6>
                   <h6><b>Skype:</b> apbutenko</h6>
                   <h6><b>Email:</b> apbutenko@gmail.com</h6>
                   <h6><b>Phone:</b> +380665267676</h6>
                </div>
                <div class="blok2">
                   <h4><b>Manager:</b></h4>
                   <h6><b>Name:</b> Elena Butenko</h6>
                   <h6><b>Skype:</b> e_butenko</h6>
                   <h6><b>Email:</b> e_butenko@gmail.com</h6>
                   <h6><b>Phone:</b> +380997008515</h6>
                </div>
                <div class="blok3">
                   <h4><b>Founder:</b></h4>
                   <h6><b>Name:</b> Oleksandr Kosse</h6>
                   <h6><b>Skype:</b> o_kosse</h6>
                   <h6><b>Email:</b> o_kosse@gmail.com</h6>
                   <h6><b>Phone:</b> +380631434750</h6>
                </div>
                <div class="blok4">
                   <h4><b>Support:</b></h4>
                   <h6><b>Name:</b> Oleksii Tyaglo</h6>
                   <h6><b>Skype:</b> otyaglo</h6>
                   <h6><b>Email:</b> otyaglo@gmail.com</h6>
                   <h6><b>Phone:</b> +380665267575</h6>
                </div>