<footer style="margin-top:0px;" id="contact">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
{#                <h5 class="white-text">Задайте вопрос</h5>#}
{##}
{#                <form class="col s12" action="" method="post" id="contactForm">#}
{#                    <div class="row">#}
{#                        <div class="input-field col s6">#}
{#                            <i class="mdi-account-circle prefix white-text"></i>#}
{#                            <input id="name" name="name" type="text" class="validate white-text">#}
{#                            <label for="name" class="white-text">Имя</label>#}
{#                        </div>#}
{#                        <div class="input-field col s6">#}
{#                            <i class="mdi-email prefix white-text"></i>#}
{#                            <input id="email" name="email" type="email" class="validate white-text">#}
{#                            <label for="email" class="white-text">Email</label>#}
{#                        </div>#}
{#                        <div class="input-field col s12">#}
{#                            <i class="mdi-pencil prefix white-text"></i>#}
{#                            <textarea id="message" name="message" class="materialize-textarea white-text"#}
{#                                      style="padding-bottom: 0px;"></textarea>#}
{#                            <label for="message" class="white-text">Сообщение</label>#}
{#                        </div>#}
{#                        <div class="input-field col s12 offset-m6 m6 l12">#}
{##}
{#                            <i class="mdi-pencil prefix white-text"></i>#}
{#                            <input type="text" name="captcha" id="captcha" maxlength="6" size="6"#}
{#                                   class="validate white-text">#}
{#                            <label for="captcha" class="white-text">Символы с картинки</label>#}
{#                        </div>#}
{#                        <div class="col offset-s7 s5">#}
{#                            <button class="btn waves-effect waves-light white light-green-text text-darken-2 right"#}
{#                                    type="submit">Отправить#}
{#                                <i class="mdi-send right text-darken-2"></i>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
            </div>
            <div class="col offset-l2 l6 s12" style="text-align: right;">
                <h5 class="white-text">Контакты</h5>
                <ul>
                    <li><span class="white-text">IT Bursa<br>Украина, г.Харьков</span>
                    </li>
                    <li><a href="mailto:itbursa100@gmail.com" class="white-text"
                           style="">itbursa100@gmail.com </a></li>
                    <li><span class="white-text" style="">Tel: +38(077)1234578</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span class="white-text">© 2015 <a href="http://itbursa.com/" class="white-text">IT Bursa</a></span>
        </div>
    </div>
</footer>