 <footer id="footer">
    <section class="footer">
      <div class="container">
        <div class="col-xs-12 col-sm-3 abt">
          <h5 class="title">Футер #1</h5>

          <p>За стеклом лежал Питон,</p>
          <p>Большой и толстый, как батон.</p>
          <p>Вверх пополз,</p>
          <p>Затем вернулся,</p>
          <p>Круглым бубликом свернулся. </p>
           </div>
        <div class="col-xs-12 col-sm-3 popular-post">
          <h5 class="title">Футер #2</h5>
          <p>PyBursa Text</p>
          <p>PyBursa Text</p>
          <p>PyBursa Text</p>
          <p>PyBursa Text</p>
          <p>PyBursa Text</p>

        </div>
        <div class="col-xs-12 col-sm-3 service">
          <h5 class="title">Футер #3</h5>
          <ul>
            <li>Web Development</li>
            <li>Software Development</li>
            <li>CRM Development</li>
            <li>Web Maintanance</li>
            <li>Search Engine Optimization</li>

          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 touch">
          <h5 class="title">Футер #4</h5>
          <p> <i class="fa fa-map-marker"> Где-то в Харькове...</i></p>
          <p> <i class="fa fa-phone"> 38 (096) 469 15 57</i> </p>
          <p> <i class="fa fa-envelope"> daria@gmail.com</i> </p>

        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="col-xs-12 col-sm-9 ">
            <p> Copyright © AlexUA 2015-2016. All rights reserved. </p>
          </div>
          <div class="col-xs-12 col-sm-3 pull-right text-right">
            <p> Created By : AlexUA </p>
          </div>
        </div>
      </div>
    </section>
  </footer>