<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="//cdn.shopify.com/s/files/1/0691/5403/t/108/assets/style.scss.css?6412267337190013828" rel="stylesheet" type="  text/css"  media="all"  />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<footer class="footer clearfix">
  <ul class="footer-social-buttons">
    <li class="btn-follow hidden-xs">
      <a href="https://twitter.com/getbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @ooniversity</a>
    </li>
    <li class="btn-tweet">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://themes.getbootstrap.com/" data-count="horizontal" data-via="getbootstrap" data-related="getbootstrap,mdo,fat,dhg">Tweet</a>
    </li>
  </ul>

  <p class="hidden-xs">
    Designed and built with all the love in the world by
    <a href="#" target="_blank">@simon.jones</a> 
  </p>

  <ul class="footer-list">
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="{% url 'index' %}">About</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="{% url 'index' }">Courses</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="/pages/privacy-policy">Privacy</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="/pages/our-license">Licenses</a>
      </li>
    
      <li class="footer-list-item">
        <a class="footer-list-link" href="/pages/faq">FAQ</a>
      </li>
    
  </ul>
</footer>
