<table class="responsive-table bordered centered striped highlight">
    <thead class="pink accent-3">
        <tr>
        <th data-field="nomber">
            ЗАНЯТИЕ
        </th>
        <th data-field="subject">
            ТЕМА
        </th>
        <th data-field="content">
            СОДЕРЖАНИЕ
        </th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
    <tr>
        <td class="number_cell">
            {{ lesson.id }}
        </td>
        <td>
            {{ lesson.subject }}
        </td>
        <td>
            {{ lesson.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#<table class="responsive-table bordered centered striped highlight">#}
{#    <thead class="pink accent-3">#}
{#    <tr>#}
{#        <th>#}
{#            ТЕМА#}
{#        </th>#}
{#        <th>#}
{#            СОДЕРЖАНИЕ#}
{#        </th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    <tr>#}
{#        <td>#}
{#            Основные понятия Java#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>обзор языка Java</li>#}
{#                <li>типы данных</li>#}
{#                <li>литералы</li>#}
{#                <li>операторы</li>#}
{#                <li>кодировки</li>#}
{#                <li>объектно-ориентированные возможности Java</li>#}
{#                <li>классы</li>#}
{#                <li>пакеты</li>#}
{#                <li>документирование кода</li>#}
{#                <li>вложенные классы</li>#}
{#                <li>абстрактные классы</li>#}
{#                <li>интерфейсы</li>#}
{#                <li>generics</li>#}
{#                <li>перечисления</li>#}
{#                <li>аннотации</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Обработка строк#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>строковые классы</li>#}
{#                <li>регулярные выражения</li>#}
{#                <li>i18n (интернационализация)</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Потоки ввода/вывода. Файлы#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>ввод/вывод</li>#}
{#                <li>байтовые и символьные потоки</li>#}
{#                <li>классы Scanner, Formatter</li>#}
{#                <li>класс File</li>#}
{#                <li>сериализация</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Обработка исключений#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>основы обработки исключений</li>#}
{#                <li>иерархия исключений</li>#}
{#                <li>блоки try-catch-finally/try-with-resources</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Коллекции#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>обзор коллекций</li>#}
{#                <li>итератор</li>#}
{#                <li>сравнение объектов</li>#}
{#                <li>компараторы</li>#}
{#                <li>работа с ассоциативными контейнерами</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Многопоточное программирование#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>понятие потока выполнения</li>#}
{#                <li>жизненный цикл потока</li>#}
{#                <li>управление потоками</li>#}
{#                <li>синхронизация потоков</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Сервлеты и JSP#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>сервлеты</li>#}
{#                <li>контейнер сервлетов</li>#}
{#                <li>обработка запроса</li>#}
{#                <li>структура WEB-приложения</li>#}
{#                <li>поддержка сессий</li>#}
{#                <li>cookies</li>#}
{#                <li>фильтры</li>#}
{#                <li>слушатели</li>#}
{#                <li>JSP</li>#}
{#                <li>директивы</li>#}
{#                <li>скриптовые элементы</li>#}
{#                <li>действия</li>#}
{#                <li>EL</li>#}
{#                <li>JSTL</li>#}
{#                <li>custom-теги</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}