<table class="responsive-table bordered centered striped highlight">
    <thead class="yellow accent-1">
        <tr>
        <th data-field="nomber">
            ЗАНЯТИЕ
        </th>
        <th data-field="subject">
            ТЕМА
        </th>
        <th data-field="content">
            СОДЕРЖАНИЕ
        </th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
    <tr>
        <td class="number_cell">
            {{ lesson.id }}
        </td>
        <td>
            {{ lesson.subject }}
        </td>
        <td>
            {{ lesson.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#<table class="responsive-table bordered centered striped highlight">#}
{#    <thead class="yellow accent-1">#}
{#    <tr>#}
{#        <th>#}
{#            ЗАНЯТИЕ#}
{#        </th>#}
{#        <th>#}
{#            ТЕМА#}
{#        </th>#}
{#        <th>#}
{#            СОДЕРЖАНИЕ#}
{#        </th>#}
{#    </tr>#}
{#    <thead>#}
{#    <tbody>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            1#}
{#        </td>#}
{#        <td>#}
{#            Введение, подмножества JavaScript, dev tools, code quality, html#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Hello World!</li>#}
{#                <li>Лексические структуры (литералы, зарезервированные слова, типы данных, значения,#}
{#                    переменные)#}
{#                </li>#}
{#                <li>Выражения и операторы преобразование типов</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            2#}
{#        </td>#}
{#        <td>#}
{#            Функции и инструкции#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Инструкции-выражения</li>#}
{#                <li>Составные и пустые инструкции</li>#}
{#                <li>Инструкции-объявления</li>#}
{#                <li>Условные инструкции</li>#}
{#                <li>Циклы</li>#}
{#                <li>Переходы</li>#}
{#                <li>Прочие инструкции</li>#}
{#                <li>Итоговая таблица JavaScript-инструкций</li>#}
{#                <li>Определение функций</li>#}
{#                <li>Вызов функций</li>#}
{#                <li>Аргументы и параметры функций</li>#}
{#                <li>Функции как данные</li>#}
{#                <li>Функции как пространства имен</li>#}
{#                <li>Замыкания</li>#}
{#                <li>Свойства и методы функций и конструктор Function</li>#}
{#                <li>Функциональное программирование</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            3#}
{#        </td>#}
{#        <td>#}
{#            Объекты и массивы#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Создание объектов</li>#}
{#                <li>Получение и изменение свойств</li>#}
{#                <li>Удаление свойств</li>#}
{#                <li>Проверка существования свойств</li>#}
{#                <li>Перечисление свойств</li>#}
{#                <li>Методы чтения и записи свойств</li>#}
{#                <li>Атрибуты свойств</li>#}
{#                <li>Атрибуты объекта</li>#}
{#                <li>Сериализация объектов</li>#}
{#                <li>Методы класса Object</li>#}
{#                <li>Создание массивов</li>#}
{#                <li>Чтение и запись элементов массива</li>#}
{#                <li>Разреженные массивы</li>#}
{#                <li>Длина массива</li>#}
{#                <li>Добавление и удаление элементов массива</li>#}
{#                <li>Обход элементов массива</li>#}
{#                <li>Многомерные массивы</li>#}
{#                <li>Методы класса Array, определяемые стандартом ECMAScript 5</li>#}
{#                <li>Тип Array</li>#}
{#                <li>Объекты, подобные массивам</li>#}
{#                <li>Строки как массивы</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            4#}
{#        </td>#}
{#        <td>#}
{#            DOM, Events, Асинхронность#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Обзор модели DOM</li>#}
{#                <li>Выбор элементов документа</li>#}
{#                <li>Структура документа и навигация по документу</li>#}
{#                <li>Атрибуты</li>#}
{#                <li>Содержимое элемента</li>#}
{#                <li>Создание, вставка и удаление узлов</li>#}
{#                <li>Геометрия документа и элементов и прокрутка</li>#}
{#                <li>Другие особенности документов</li>#}
{#                <li>Типы событий</li>#}
{#                <li>Регистрация обработчиков событий</li>#}
{#                <li>Вызов обработчиков событий</li>#}
{#                <li>События загрузки документа</li>#}
{#                <li>События мыши</li>#}
{#                <li>События колесика мыши</li>#}
{#                <li>События механизма буксировки</li>#}
{#                <li>События ввода текста</li>#}
{#                <li>События клавиатуры</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            5#}
{#        </td>#}
{#        <td>#}
{#            Прототипное наследование, модульность, Require.js#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>ООП в js</li>#}
{#                <li>Архитектура больших приложений</li>#}
{#                <li>Модульность</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            6#}
{#        </td>#}
{#        <td>#}
{#            RIA, Ajax, $, loadesh templates, local storage, cookies, session#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Основы jQuery</li>#}
{#                <li>Методы чтения и записи объекта jQuery</li>#}
{#                <li>Изменение структуры документа</li>#}
{#                <li>Обработка событий с помощью библиотеки jQuery</li>#}
{#                <li>Реализация Ajax в библиотеке jQuery</li>#}
{#                <li>Вспомогательные функции</li>#}
{#                <li>Селекторы и методы выбора в библиотеке jQuery</li>#}
{#                <li>Одностраничные приложения</li>#}
{#                <li>Роутинг</li>#}
{#                <li>Динамическая подгрузка файлов</li>#}
{#                <li>Объекты localStorage и sessionStorage</li>#}
{#                <li>Сookies</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            7#}
{#        </td>#}
{#        <td>#}
{#            Backbone, MVC#}
{#        </td>#}
{#        <td>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="number_cell">#}
{#            8#}
{#        </td>#}
{#        <td>#}
{#            grunt, gulp, webpack#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Инфраструктура</li>#}
{#                <li>Сборка проекта</li>#}
{#                <li>Автоматизация рутины</li>#}
{#                <li>Контроль качества</li>#}
{#                <li>Построение процессов</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}