<table class="responsive-table bordered centered striped highlight">
    <thead class="grey darken-4 white-text">
        <tr>
        <th data-field="nomber">
            ЗАНЯТИЕ
        </th>
        <th data-field="subject">
            ТЕМА
        </th>
        <th data-field="content">
            СОДЕРЖАНИЕ
        </th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
    <tr>
        <td class="number_cell">
            {{ lesson.id }}
        </td>
        <td>
            {{ lesson.subject }}
        </td>
        <td>
            {{ lesson.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#<table class="responsive-table bordered centered striped highlight">#}
{#    <thead class="grey darken-4 white-text">#}
{#    <tr>#}
{#        <th>#}
{#            ТЕМА#}
{#        </th>#}
{#        <th>#}
{#            СОДЕРЖАНИЕ#}
{#        </th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    <tr>#}
{#        <td>#}
{#            Повторение PHP#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Повторение основных конструкций языка.</li>#}
{#                <li>ООП.</li>#}
{#                <li>Паттерны.</li>#}
{#                <li>Понятие фреймворка.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            знакомство с Symfony#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Структура фреймворка.</li>#}
{#                <li>Компоненты.</li>#}
{#                <li>Понятие Бандла.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Composer#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Работа с Github при помощи Composer.</li>#}
{#                <li>Автозагрузка классов.</li>#}
{#                <li>Настройка проекта в Composer.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Роутинг#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Роутинг в Symfony.</li>#}
{#                <li>Форматы конфигурационных файлов.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Шаблонизатор Twig#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Понятие шаблонизатора.</li>#}
{#                <li>Возможности Twig.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Doctrine#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{##}
{#                <li>Понятие ORM.</li>#}
{#                <li>Работа с базой данных в Symfony.</li>#}
{#                <li>Сущности.</li>#}
{#                <li>Репозитории.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Работа с консолью#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Команды консоли Symfony.</li>#}
{#                <li>Создание своих команд.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Dependency injection, Service container#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Организация связи между бандлами.</li>#}
{#                <li>Понятие сервиса.</li>#}
{#                <li>Передача параметров через конструктор.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Формы#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Работа с формами в Symfony.</li>#}
{#                <li>Валидация.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Авторизация#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Настройки безопасности в Symfony.</li>#}
{#                <li>Двухступенчатая авторизация.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Использование сторонних бандлов#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Подключение репозиториев GitHub.</li>#}
{#                <li>Использование сторонних бандлов в своем проекте.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            sonata-project, FOS, Knp.#}
{#        </td>#}
{#        <td>#}
{#            <ul>#}
{#                <li>Разбор самых популярных расширений для Symfony.</li>#}
{#            </ul>#}
{#        </td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}