.wrapper {
	margin: auto;
	width: 800px;
}
.container {
	padding: 0;
}
.navbar {
	width: 1168px;
}
.jumbotron h1 {
	text-align: center;	
}
.jumbotron {
	padding-top: 0;
	padding-bottom: 20px;
}
.jumbotron h2 {
	text-align: center;
}
.header_top {
	margin-top: 0;
	padding-top: 20px;
}
.text {
	font-style: italic;
}
.list-group {
	margin-top: 30px;
}
.list-group-item {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.organizers_name {
	font-size: 18px;
	font-style: italic;
}
.address {
	font-size: 18px;
	font-style: italic;
}
.alert {
	font-style: italic;
	padding: 5px 0 5px 0;
}