.transparent {
	opacity: 0.7;
}

body {
	background-image: url("../images/back.png");
}

.list > ul > li {
	padding-top: 40px;
	font-size: 20px;
}

.zagolovok1 {
	font-size: 16px
}

.spisok1 {
	font-size: 16px;
}

.change:hover{
	color: red;
}

.director {
	font-weight: bold
}