body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
}
.h1, h1 {
    font-size: 36px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

footer {
    display: block;
}

.text-muted {
    color: #777;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 4px solid #ddd;
    border-radius: 4px;
    
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}