.color {
    color: red;
}
#test {
    color: green;
}
div.test2 {
    color: blue;
}
.color2 {
    color: black;
}
.text {
    text-align:  center;
   }
#test3 {
    size: 200px;
}
#test4 {
    size: 100px;
}
#test5 {
    size: 100px;
}
.size {
    border: solid 1px black;
    max-width: 50%;
    height: 30%;
}
.color3 {
    color: blue;
}
.list {
    background: yellow !important;
}
.container {
    margin: 0px 52px 52px 52px;
}
