.img-style{
	width: 250px;
	height: 250px;
}

.slash-div {
  background-color: lightgrey;
  border-color: #080808;
}
.style-thead{
	background: rgba(135, 140, 123, 0.80);
	
}
.style-thead2{
	background: rgba(135, 140, 123, 0.20);
}
.style-thead3{
	background: yellow;
}
.style-thead4{
	background: yellow;
}
.style-thead5{
	background: yellow;
}
.style-thead6{
	background: yellow;
}
.style-thead7{
	background: yellow;
}
.style-thead8{
	background: yellow;
}
.style-thead9{
	background: yellow;
}



