.black {
  color: black;
  margin: 20px;
}
.border {
  border: 1px  solid black;
}
.border2{
  border: 2px  solid black;
  width: 90%;
}
.border3{
  border: 2px  solid black;
  width: 50%;
  background-color: yellow;
}
.border4{
  border: 1px  solid black;
  width: 80%;
  background-color: gray;
}
.end {
  font-weight: bold;
  margin: 10px;
  
}
.column_name  {
  font-weight: bold;
  text-align: center;
  color: blue;
  border: 1px  solid black;
}
.column_name td {
  font-weight: bold;
  text-align: center;
  color: blue;
  border: 1px  solid black;
}

.first_column {
  width: 100px;
}
.number_cell1 {
  color: black;
  text-align: center;
  font-weight: bold;
  width: 50px;
  border: 1px  solid black;
}
.number_cell2 {
  color: black;
  text-align: left;
  padding-left: 5px;
  border: 1px  solid black;
}
.number_cell3 {
  color: green;
  text-align: left;
  padding-left: 5px;
  border: 1px  solid black;
}
.boss {
  color: black;
}
.manager {
  color: black;
}
.founder {
  color: black;
}
.job {
  font-size: 120%;
  padding-left: 5px;
  font-weight: bold;
  color: black;
}
.name {
  font-size: 110%;
  padding-left: 15px;
  color: black;
}
.skype {
  padding-left: 25px;
  color: blue;
}
.email {
  padding-left: 35px;
  color: green;
}
.phone {
  padding-left: 45px;
  color: purple;
}