{% extends "base.html" %}

{% block title %}
<title>Course edit</title>
{% endblock %}

{% block top_menu %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'index' %}">Main</a></li>
    <li><a href="{% url 'contact' %}">Contacts</a></li>
    <li><a href="{% url 'students:list_view' %}">Students</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="jumbotron ">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="list-group-item list-group-item-success"
            style="color: #EFEFEF;background-color: #3E8789;opacity: 0.5;">{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h3>
        <span class="glyphicon glyphicon-pencil padsingtitle" aria-hidden="true"></span>
        {{ 'Students edit'|title }}
    </h3>

    <p></p>

    <form method="post" style="" class="add_form">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input class=" btn btn-primary btn-lg " type="submit" value="Submit">
        </p>
    </form>
</div>
{% endblock %}
