{% extends "base.html" %}


{% block Title %} Main {% endblock Title %}

%}

{% block index_active %}class="active"{% endblock index_active %}

{% block content %}
  <h1>Web-develompment</h1>


{% include "include/description_include.html" %}

      <h2 class="header">Courses</h2>
      <table class="border">
        <tbody>
        <tr class="column_name">
           <td class="first_column">
            Название курса
          </td>
          <td class="number_cell3">
            Описание
          </td>
          </tr>
        {% for course in courses %}
        <tr>
          <td class="number_cell1">
             <a href="{% url 'courses:detail' course.id %}">{{ course.name|upper}}</a>
          </td>
            <td class="number_cell3">
              {{ course.description|title }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

{% endblock content %}
