{% extends 'base.html' %} 

{% load staticfiles %} 


{% block title %}Quadratic{% endblock title %}


{% block nav_class_contacts %}active{% endblock nav_class_contacts %}


{% block content %}

    <div class="container">
      <div class="starter-template">
       <h1><strong>Квадратное уравнения: a*x*x + b*x +c = 0</strong></h1>
			<pre>
			a = {{params.a}}
			{{params.a_msg}}
			b = {{params.b}}
			{{params.b_msg}}
			c = {{params.c}}
			{{params.c_msg}}
			{% if params.discr or params.discr == 0 %}
			Дискриминант: {{params.discr}}
			{% endif %}
			{% if params.discr and params.discr < 0 %}
			Дискриминант меньше нуля, квадратное уравнение не имеет действительных решений.
			{% elif params.x1 != params.x2 %}
			Квадратное уравнение имеет два дparamsействительных корня: x1 = {{params.x1}}, x2 = {{params.x2}}
			{% elif params.discr == 0 %}
			Дискриминант равен нулю, квадратное уравнение имеет один действительный корень: x1 = x2 = {{params.x}}
			{% endif %}
			</pre>

{% endblock content %}