{% extends "base.html" %}


{% load staticfiles %}


{% block title %}ooniversity - Page not found{% endblock title %}


{% block nav_brand_index %}active{% endblock %}


{% block content %}
  <div class="study_table">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="py_program">Запишись на курсы, попади в тренд современной WEB разработки</h2>
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <h4 class="course_program">{{ message }}</h4>
          {% endfor %}
        </div>
        {% endif %}
      </div>      
      <h1>ITBursa</h1>
      <h2>Sorry, page is not found</h2>
    {% endblock content %}
