<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>500</title>

    <!-- Bootstrap -->
    {% load static from staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  
  <body>
    
    <h1>Sorry, internal server error occurred</h1>
    <br>
    <h3>{{ error_message }}</h3>

    
    
  </body>
</html>
