<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Main{% endblock title %}</title>
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="header container">
        <h1>OONIVERSITY</h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_class_index %}{% endblock %}"><a href="{% url 'index' %}">Main</a></li>
                    <li class="{% block nav_class_contact %}{% endblock %}"><a href="{% url 'contact' %}">Contact</a></li>
                    <li class="{% block nav_class_students %}{% endblock %}"><a href="{% url 'students:list_view' %}">Students</a></li>
                    {% block detail %}{% endblock %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="jumbotron">
{% block content %}
            <h2 class="header_top">Description</h2>

            <p class="text">Наибольшей проблемой всех учебников и статей, по которым начинают изучать Python - это
                отсутствие практики с освоенным материалом.</p>

            <p class="text">Можно читать тонны ресурсов по веб-программированию на Python - и не научиться ничему,
                потому что знания, которые вы не успели применить, очень быстро забываются.</p>

            <p class="text">Многие начинающие сдаются на полпути, так как устают, им надоедает бесконечное блуждание по
                сети в поисках крупиц информации, из которых трудно собрать общую картину.</p>

            <h2>Program</h2>
            <ul class="list-group">
                <li class="list-group-item">Основы Python</li>
                <li class="list-group-item">Строки и итераторы</li>
                <li class="list-group-item">Функции и модульность</li>
                <li class="list-group-item">Библиотеки и пакетный менеджер</li>
                <li class="list-group-item">Классы и ООП, основы</li>
                <li class="list-group-item">Классы и ООП, возможности Python</li>
                <li class="list-group-item">Работа с файлами</li>
                <li class="list-group-item">Работа с датами</li>
                <li class="list-group-item">Основы html/css</li>
                <li class="list-group-item">Основы JavaScript</li>
                <li class="list-group-item">Основы Web, HTTP</li>
                <li class="list-group-item">Django first steps</li>
                <li class="list-group-item">Структура Web приложения</li>
                <li class="list-group-item">Работа с базами данных, ORM</li>
                <li class="list-group-item">Кастомизация админки</li>
                <li class="list-group-item">Язык шаблонов</li>
                <li class="list-group-item">Forms</li>
                <li class="list-group-item">Class-based (Generic) Views</li>
                <li class="list-group-item">Реализация стандартных задач</li>
                <li class="list-group-item">Средства отладки и тестирование</li>
                <li class="list-group-item">Деплоймент</li>
            </ul>

            <div class="table-responsive">
                <h3>Выбирай на каком курсе ты хочешь учиться!</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="success">
                        <td><strong>Курс</strong></td>
                        <td><strong>Описание</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if courses %}
                        {% for course in courses %}
                            <tr>
                                <td><a href="{% url 'courses:detail' course.id %}"> {{ course.name|upper }} </a></td>
                                <td>{{ course.short_description|title }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
{% endblock %}
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>