{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}
{% block nav_active_contact %}active{% endblock nav_active_contact %}

{% block content %}
  <div class="container" align="center"> 
    <div class="media">
      <div class="media-left">
        <div>
          <img class="img-circle img-style" src="../static/images/director.jpg">
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Director</h4>
          Name:   Petr Petrov<br>
          Skype:  Director<br>
          Email:  PetrovTheBest@google.com<br>
          Phone:  +88005553535<br>
      </div>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <div>
        <img class="img-circle img-style" src="../static/images/founder.jpg">
      </div>	
    </div>
    <div class="media-body">
      <h4 class="media-heading">Founder</h4>
        Name:   Ivan Ivanov<br>
        Skype:  Founder<br>
        Email:  IvanovTheBest@google.com<br>
        Phone:  +99006664646<br>
    </div>
    <div class="media-left">
      <div>
        <img class="img-circle img-style" src="../static/images/manager.jpg">
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Manager</h4>
        Name:   Sasha Masha<br>
        Skype:  Manager<br>
        Email:  PupkinTheBest@google.com<br>
        Phone:  +77004442424<br>
    </div>
  </div>
{% endblock %}