<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    {% load staticfiles %}
    <script src="{% static 'js/bootstrap.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div id="menu">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{% url 'index' %}">Main</a></li>
            <li role="presentation"  class="active"><a href="{% url 'contact' %}">Contacts</a></li>
            <li role="presentation"><a href="{% url 'student_list' %}">Students</a></li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Director</h2>
        </div>
        <div class="panel-body">
             <ul class="list-group">
                 <li class="list-group-item list-group-item-info">Name: Aleksey Radchenko</li>
                 <li class="list-group-item list-group-item-warning">Skype: aleksey</li>
                 <li class="list-group-item list-group-item-success">Email: Radchenko@test.com</li>
                 <li class="list-group-item list-group-item-danger">Phone: (050)90-90-999</li>
             </ul>
        </div>
    </div>
    <div class="well well-lg">
        <h2>Manager</h2>
        <ul>
            <li class="list-group-item list-group-item-info">Name: Alena Chaika</li>
            <li class="list-group-item list-group-item-warning">Skype: alena</li>
            <li class="list-group-item list-group-item-success">Email: Chaika@test.com</li>
            <li class="list-group-item list-group-item-danger">Phone: (050)90-90-999</li>
        </ul>
    </div>
    <div class="well well-sm">
        <h2 class = >Founder</h2>
        <ul>
            <li class="list-group-item list-group-item-info">Name: Elena Persianova</li>
            <li class="list-group-item list-group-item-warning">Skype: elena</li>
            <li class="list-group-item list-group-item-success">Email: Persianova@test.com</li>
            <li class="list-group-item list-group-item-danger">Phone: (050)90-90-999</li>
        </ul>
    </div>


</body>
</html>