<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Students</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="../static/js/bootstrap.js"></script>
</head>

<body>

	<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Main</a></li>
            <li role="presentation"><a href="student_list.html">Students</a></li>
            <li role="presentation"><a href="contacts.html">Contacts</a></li>
          </ul>
        </nav>
        <h1 class="text-muted"><a href="index.html">PyBursa</a></h1>
      </div>
    </div>

    <hr>

    <div class="learn-more">
	  <div class="container">
	    <div class="row">
    	  <h1>PyBursa Students</h1>
    	</div>
    	<h4>This is a list of students who are studying on this course</h4>
      </div>
    </div>

    <table class="table table-bordered">
      <thead class="active">
        <th>№</th>
        <th>Surname</th>
        <th>Name</th>
        <th>Address</th>
        <th class="skype">Skype</th>
      </thead>
      <tr>
        <td class="numbers"><a href="student_detail.html">1</a></td>
        <td>Kalanick</td>
        <td>Travis</td>
        <td>Los-Angeles, California, USA</td>
        <td class="skype">kalanick</td>
      </tr>
      <tr>
        <td class="numbers">2</td>
        <td>Gates</td>
        <td>Bill</td>
        <td>Los-Angeles, California, USA</td>
        <td class="skype">gates</td>
      </tr>
      <tr>
        <td class="numbers">3</td>
        <td>Dorsey</td>
        <td>Jack</td>
        <td>New-York, State of New-York, USA</td>
        <td class="skype">dorsey</td>
      </tr>
      <tr>
        <td class="numbers">4</td>
        <td>Durov</td>
        <td>Pavel</td>
        <td>St.Petersburg, Russian Federation</td>
        <td class="skype">durov</td>
      </tr>
      <tr>
        <td class="numbers">5</td>
        <td>Hoffman</td>
        <td>Reid</td>
        <td>Stanford, California, USA</td>
        <td class="skype">hoffman</td>
      </tr>
    </table>


	<hr>

	<div class="container">
	  <div class="row">
	    <footer class="footer">
          <p>Copyright © 2015 PyBursa, Inc. All Rights Reserved</p>
        </footer>
	  </div>
	</div>

</body>
</html>
