{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Contact{% endblock title %}

{%block nav_class_index %}passive{% endblock %}
{%block nav_class_contact %}passive{% endblock %}
{%block nav_class_student_list_view %}active{% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student_list</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
              <img class="logo" alt="logo" src="{%static 'images/logo_itbursa.png'%}">
            </a>
          </div>
            <ul class="nav nav-pills">
              <li role="presentation" class="passive"><a href="{% url 'index'%}">Main</a></li>
              <li role="presentation" class="passive"><a href="{% url 'contact'%}">Contacts</a></li>
              <li role="presentation" class="active"><a href="{% url 'student_list'%}">Students</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="jumbotron">
          <h1>Курс PyBursa</h1>
          <p>Ниже представлен список студентов за 2015!</p>
        </div>
    </div>
    <div id="spisok">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Address</th>
            <th>Skype</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'student_detail'%}">1</a></td>
            <td>Dallas</td>
            <td>Korben</td>
            <td>1, The 23rd of August st., Kharkiv city, Ukraine</td>
            <td>multipassport</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Bond</td>
            <td>James</td>
            <td>1, Lenina av., Kharkiv city, Ukraine</td>
            <td>James.Bond</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Petrov</td>
            <td>Ivan</td>
            <td>1, Pushkinskay st., Kharkiv city, Ukraine</td>
            <td>Ivan.Petrov</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Ivanov</td>
            <td>Sergey</td>
            <td>1, Sumskay st., Kharkiv city, Ukraine</td>
            <td>Sergey.Ivanov</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Dallas</td>
            <td>Lilu</td>
            <td>1, The 23rd of August st., Kharkiv city, Ukraine</td>
            <td>multipassport2</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js'%}"></script>
  </body>
</html>
