{% extends "base.html" %}

{% block title %}E_Padafa{% endblock title %}


{% block nav_students %}class="active"{% endblock %}


{% block content %}
	
			<h2>
				Padafa Evgeniy
			</h2> 


  <div>Student's card</div>
 
  <table>
    <tr>
    	<td>Surname</td>
    	<td>Padafa</td>
    </tr>
    <tr>
    	<td>Name</td>
    	<td>Evgeniy</td>
    </tr>
    <tr>
    	<td>Patronymic</td>
    	<td>Dmitrievich</td>
    </tr>
    <tr>
    	<td>Birth Date</td>
    	<td>18.11.1994</td>
    </tr>
    <tr>
    	<td>Address</td>
    	<td>Kosiora</td>
    </tr>
    <tr>
    	<td>E-mail</td>
    	<td>padafaevgeniy@gmail.com</td>
    </tr>
    <tr>
    	<td>Skype</td>
    	<td>makaron19941</td>
    </tr>
      	<td>Average Grade</td>
      	<td>4.8</td>
    </tr>
    <tr>
      	<td>Rating</td>
   		<td>35</td>
    </tr>
  </table>
<h3> Student's performance:</h3>
       <table>
            <thead>
              <tr>
                <td>Cource</td>
                <td>Week</td>
                <td>Control Type</td>
                <td>Score, %</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan=3>Py Bursa 002</td>
                <td rowspan=3>Lesson 01</td>
                <td>Tests</td>
                <td>100%</td>                
              </tr>
              <tr>
                <td>Problem Task #1</td>
                <td>90%</td>                
              </tr>
              <tr>
                <td>Problem Task #2</td>
                <td>80%</td>                
              </tr>
              <tr>
                <td rowspan=3>Py Bursa 002</td>
                <td rowspan=3>Lesson 02</td>
                <td>Tests</td>
                <td>100%</td>                
              </tr>
              <tr>
                <td>Problem Task #1</td>
                <td>90%</td>                
              </tr>
              <tr>
                <td>Problem Task #2</td>
                <td>80%</td>                
              </tr>
            </tbody>
        </table>
	{% endblock content %}
