<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students detail</title>

     {% load staticfiles %}
    <!-- Bootstrap -->
    <!--<link href="../static/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="../static/css/style.css" rel="stylesheet">-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                           <li ><a href="{% url 'index' %}">Main</a></li>
                            <li ><a href="{% url 'contact' %}">Contacts</a></li>
                            <li><a href="{% url 'feedback' %}">Feedback</a></li>
                            <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
                        </ul>
                        <p class="navbar-text navbar-right top_mass">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
                        <a href="#" class="top_mass" style="">Inbox <span class="badge">42</span></a>
                    </div>
                </div>
            </nav>
            <div class="jumbotron ">
                   <h2 class="opct-text">Pupkin Vasya</h2>

                    <img src="../static/images/student.png" alt="..."  class="opct-img" >
                <br/>
                <br/>
                <h3>Personal information</h3>
                <!-- Table -->
                <table class="table opct-text personal">
                    <tr><td>Surname</td><td>Pupkin</td></tr>
                    <tr><td>Name</td><td>Vasya</td></tr>
                    <tr><td>Patronymic</td><td>Ivanovich</td></tr>
                    <tr><td>Birth Date</td><td>11/01/2000</td></tr>
                    <tr><td>Address</td><td>Ukraine Kharkiv Lenina str. 56</td></tr>
                    <tr><td>E-mail</td><td>Pupkin@gmail.com</td></tr>
                    <tr><td>Skype</td><td>Pupkin.Skipe</td></tr>
                    <tr><td>Average Grade</td><td>80.5</td></tr>
                    <tr><td>Rating</td><td>20</td></tr>
                </table>


                <h3>Performance information</h3>
                <!-- Table -->
                <table class="table opct-text">
                    <tr class="dark">
                        <th>Course</th>
                        <th>Week</th>
                        <th>Control Type</th>
                        <th>Grade</th>

                    </tr>
                    <tr>
                        <td>PyBursa 03</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td class="table_td_padd">Tests</td></tr>
                                <tr><td class="table_td_padd">Problem Task</td></tr>
                            </table>
                        </td>
                        <td>
                            <table >
                                <tr>
                                    <td>
                                        <div class="progress" style="width: 100px;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                60%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="width: 100px;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                80%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>PyBursa 03</td>
                        <td>Week2</td>
                        <td>
                            <table>
                                <tr><td class="table_td_padd">Tests</td></tr>
                                <tr><td class="table_td_padd">Problem Task</td></tr>
                            </table>
                        </td>
                        <td>
                            <table >
                                <tr>
                                    <td>
                                        <div class="progress" style="width: 100px;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                60%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="width: 100px;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                80%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>
