<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    {% load staticfiles %}
    <script src="{% static 'js/bootstrap.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="menu">
        <ul class="nav nav-pills">
            <li role="presentation"  class="active"><a href="{% url 'index' %}">Main</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Contacts</a></li>
            <li role="presentation"><a href="{% url 'students' %}">Students</a></li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="center">Students list</h1>
    </div>
    <table class="table">
        <caption>План курса {{ course_id }}</caption>
        <tr>
            <th>#</th>
            <th>Name, Surname</th>
            <th>Address</th>
            <th>Skype</th>
            <th>Courses</th>
        </tr>
            {% for less in lesson %}
            <tr>
                <td> {{ less.order }} </td>
                <td> {{ less.subject }}</td>
                <td> {{ less.description }} </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>