{% extends "base.html" %}

{% block title %}E_Padafa{% endblock title %}


{% block nav_students %}class="active"{% endblock %}


{% block content %}
	
			<h2>
				Padafa Evgeniy
			</h2> 


  <div>Student's card</div>
 
  <table>
    <tr>
    	<td>Surname</td>
    	<td>Padafa</td>
    </tr>
    <tr>
    	<td>Name</td>
    	<td>Evgeniy</td>
    </tr>
    <tr>
    	<td>Patronymic</td>
    	<td>Dmitrievich</td>
    </tr>
    <tr>
    	<td>Birth Date</td>
    	<td>18.11.1994</td>
    </tr>
    <tr>
    	<td>Address</td>
    	<td>Kosiora</td>
    </tr>
    <tr>
    	<td>E-mail</td>
    	<td>padafaevgeniy@gmail.com</td>
    </tr>
    <tr>
    	<td>Skype</td>
    	<td>makaron19941</td>
    </tr>
      	<td>Average Grade</td>
      	<td>4.8</td>
    </tr>
    <tr>
      	<td>Rating</td>
   		<td>35</td>
    </tr>
  </table>

      <table>
      <thead>
      <tr>
      <th>Theme</th>
      <th>Week Number</th>
      <th>Control Type</th>
      <th>Problem Task Number</th>
      </tr>
      </thead>
      <tbody>
      {% include "include/list_include.html" %}
      <tr>
      <td>Python for Beginners</td>
      <td>1</td>
      <td>Practice Lesson</td>
      <td>Problem Task #2</td>
      </tr>
      <tr>
      <td>Handling Exceptions</td>
      <td>2</td>
      <td>Tests</td>
      <td>Problem Task #1</td>
      </tr>
      </tbody>
      </table>
	{% endblock content %}
