{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Main{% endblock title%}


{% block navbar_i1 %}active{% endblock navbar_i1 %}


{% block jumbotron %}{% endblock jumbotron %}


{% block content %}


{% include "include/alert_include.html" %}


{% include "include/course_include.html" %}
        <h1>New course</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>

{% endblock content %}
