{% extends "base.html" %}


{% block title %}Add course{% endblock title %}


{% block list_view_active %}class="active"{% endblock list_view_active %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Add course</h1>
 <form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Создать"/>
</form>
{% endblock content %}
