{% extends "base.html" %}

{% block title %}Add Lesson{% endblock title %}


{% block content %}

      <div class="starter-template">
        <h1 class="starter-template">Add a new lesson</h1>

      </div>


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Information about new lesson</div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit">
        </form>

    </div>

{% endblock content %}

