{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Course detail{% endblock title %}

{% block nav-class-index %}active{% endblock nav-class-index %}

{% block content %}
		<div class="jumbotron">
						<div class="container">
							<h1>{{ course.name }}</h1>	
							<p>{{ course.description|truncatechars:32 }} </p>
						</div>
      
          <div class="container">
          {% if course.coach %}
            <p>Coaches</p>
            <p><a href={% url 'coaches:detail' course.coach.id %}>{{course.coach.user.username}}</a></p>
          {% endif %}

          {% if course.assistant %}
            <p>Assistants</p>
            <p><a href={% url 'coaches:detail' course.assistant.id %}>{{course.assistant.user.username}}</a></p>
          {% endif %}
          
          </div>

            <a href={% url 'courses:add_lesson' course.id %}>Add a lesson</a>
						<p>Course plan</p>
						<table class="table table-striped">
							<thead>
              <tr>
                <th>#</th>
                <th>Lesson</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for lesson in course.lesson_set.all %}
                <tr>
                  <td>{{ lesson.order }}</td>
                  <td>{{ lesson.subject }}</td>
                  <td>{{ lesson.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
						</table>
		</div>
{% endblock content %}