{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Курсы{% endblock title %}


{% block nav_course_id %}?course_id={{ course.id }}{% endblock nav_course_id %}


{% block content %}
{% if messages %}
<div class="container" id="sto">
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
</div>
{% endif %}
<div class="jumbotron">
  <h1>{{ course.name|default:"nothing" }}</h1>
  <p>{{ course.description|truncatechars:32 }}</p>  
	</div>
	<h2>Преподаватели</h2>
	<div class="panel panel-success">
{% include "courses/include/inc_instructor_include.html" with block_title="Учитель" instructor=course.coach %}
</div>

<div class="panel panel-success">
{% include "courses/include/inc_instructor_include.html" with block_title="Ассистент" instructor=course.assistant %}
</div>
    <h2>План курса</h2>
    <div class="container" id="sto">
	    <a class="btn btn-primary btn-lg" href="{% url 'courses:add_lesson' course.id %}" role="button"> + Добавить занятие</a></p>
	</div>
    <table class="table table-hover">
        	<tr>
        		<td>
        			#
        		</td>
        		<td>
        			Тема
        		</td>
        		<td>
        			Описание
        		</td>
        	</tr>
        	{% for lesson in course.lesson_set.all %}
        	<tr>
        		<td> 
        			{{ lesson.order }}     				 
        		</td>      			
        		<td>
        			{{ lesson.subject }}
        		</td>
        		<td>
        			{{ lesson.description }}
        		</td>	
        	</tr>
        	{% endfor %}
		</table>
    <nav class="container">
        <ul class="pager">
            <li class="previous"><a href="{% url 'index' %}"><span aria-hidden="true">&larr;</span>Главная</a>
            </li>
        </ul>
    </nav>
{% endblock content %}  
