{% extends "base.html" %}

{% block title %}PyBursa edit course{% endblock title %}
{% block student_ref %}{% url 'students:list_view' %}{% endblock student_ref %}

{% block content %}
  <div id="main">

<center>
        <div class="container">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="container">
          <h2>Changing course's info</h2>
        </div>
        <div class="container">
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit", value="Изменить">
          </form>
        </div>
<br>
      </center>

</div>{% endblock content %}