{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit course{% endblock title %}

{% block nav_active_main %}active{% endblock nav_active_main %}

{% block form %}
	{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
    		{% endfor %}
		</ul>
	{% endif %}

	<h2><h2>{{ title }}</h2></h2>
	

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Изменить">
	</form>
{% endblock form %}