{% extends "base.html" %}

{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block navigation_main_students %}active{% endblock navigation_main_students %}


{% block content %}
</br></br></br></br>
<div class="container">
      <div class="starter-template">
        <div class="container">
        <h2>{{ title }}</h2>
        <h3>Курс {{ course.name }} будет удален</h3>
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Yes" class="btn btn-primary"/>
        </form>
      </div>
    </div>
{% endblock content %}