{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Main{% endblock title %}


{% block navbar_button_3 %}active{% endblock navbar_button_3 %}


{% block jumbotron %}{% endblock jumbotron %}


{% block content %}

        <div class="alert alert-danger" role=alert>
            <strong>{{ err_message }}</strong>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-sm" value="Confirm">
        </form>

{% endblock content %}