{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Remove course{% endblock title %}


{% block nav_class_index %}passive{% endblock %}
{% block nav_class_contact %}passive{% endblock %}
{% block nav_class_student_list_view %}passive{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="col-md-12">
      <h3>Удалить курс по {{ name }}</h3>
      <form method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
      </form>
    </div>
  </div>
</div>
{% endblock content %}