{% extends 'base.html' %} 

{% load staticfiles %} 


{% block title %}Coaches detail{% endblock title %}


{% block nav_class_index %}active{% endblock nav_class_index %}


{% block content %}


    <div class="jumbotron">
      <div class="container" role="main">
        <div class="jumbotron">
          <h1 class="center">{{ coacher.get_first_name   }} {{coacher.get_last_name}}</h1>
          <p class="center"> {{ coacher.description }}</p>
        </div>
        <table class="table">
          <tr>
          </tr>
          <th>first_name</th>
          <td> {{ coacher.get_first_name }} </td>
          <tr>
            <th>last_name</th>
            <td> {{ coacher.get_last_name }}</td>
          </tr>
          <tr>
            <th>bday</th>
            <td> {{ coacher.date_of_birth|date:'j F, Y' }} </td>
          </tr>
          <tr>
            <th>email</th>
            <td> {{ coacher.get_email }} </td>
          </tr>
          <tr>
            <th>cell</th>
            <td> {{ coacher.phone }} </td>
          </tr>
          <tr>
            <th>adress</th>
            <td> {{ coacher.address }} </td>
          </tr>
          <tr>
            <th>coach</th>
            <td> {% for i in is_coach %}
              {{i.name}}
              {% endfor %} 
            </td>
          </tr>
          <tr>
            <th>assistance</th>
            <td> {% for i in is_assist %}
              {{i.name}}
              <a href="{% url 'contact' %}">              
              <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              </button>
              </a>

              

              
              {% endfor %} 
            </td>
          </tr>
        </table>
      </div>
    </div>


{% endblock content %}