<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students detail</title>

     {% load staticfiles %}
    <!-- Bootstrap -->
    <!--<link href="../static/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="../static/css/style.css" rel="stylesheet">-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                           <li ><a href="{% url 'index' %}">Main</a></li>
                            <li ><a href="{% url 'contact' %}">Contacts</a></li>
                            <li class="active"><a href="{% url 'students:list_view' %}">Students</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="jumbotron ">
                   <h2 class="opct-text">{{ coach.user.first_name }} {{ coach.user.last_name }}</h2>
                   <img src="{% static 'images/student.png' %}" alt="..."  class="opct-img" >
                <h3>Personal information</h3>
                <!-- Table -->
                <table class="table opct-text personal">
                    <tr><td>Birth Date</td><td>{{ coach.date_of_birth|date:"d F, Y" }}</td></tr>
                    <tr><td>Address</td><td>{{ coach.address }}</td></tr>
                    <tr><td>E-mail</td><td>{{ coach.user.email }}</td></tr>
                    <tr><td>Skype</td><td>{{ coach.skype }}</td></tr>
                    <tr><td>Phone</td><td>{{ coach.phone }}</td></tr>
                    <tr><td>Courses (teacher)</td>
                                    <td>
                                        <table>
                                            {% for course in coach.coach_courses.all  %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'courses:course_detail' course_id=course.id %}">{{ course }}</a>
                                                        course students
                                                        <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                                                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                    </tr>
                    <tr><td>Courses (assistant)</td>
                                    <td>
                                        <table>
                                            {% for course in coach.assistant_courses.all  %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'courses:course_detail' course_id=course.id %}">{{ course }}</a>
                                                        course students
                                                        <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                                                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                    </tr>
                </table>

            </div>
          </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>
